.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
}

.item {
    border: 1px solid #808080;
    padding: 4px;
    border-radius: 8px;
    width: 100%;
}

.list_text {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
}

.description {
    line-height: 1.5;
}
